@using TheBlogProject.Services
@using TheBlogProject.Models
@using TheBlogProject.Enums
@using Microsoft.AspNetCore.Identity
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@inject IImageService imageService
@inject UserManager<BlogUser> userManager

@model IPagedList<Blog>

@{
    ViewData["Title"] = "Home Page";
}

<section class="miri-ui-kit-section">
    <div class="row grid-margin mx-auto">
        @foreach(var blog in Model)
        {
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <div class="card h-100">
                    <a asp-controller="Posts" asp-action="BlogPostIndex" asp-route-id="@blog.Id" class="text-decoration-none">
                        <img class="img-fluid card-img-top" src="@imageService.DecodeImage(blog.ImageData, blog.ContentType)" alt="Blog image" />
                        <div class="card-body text-dark">
                            <h5 class="card-title">@blog.Name</h5>
                            <hr class="card-hr" />
                            <p class="card-text">
                                @blog.Description
                            </p>
                            <br />
                            <span class="text-center text-success">Read Blog</span>
                        </div>
                    </a>
                    @if (User.IsInRole(BlogRole.Administrator.ToString()))
                    {
                        <div class="text-center">
                            <a asp-action="Create" asp-controller="Posts" asp-route-id="@blog.Id" class="btn btn-dark btn-sm btn-block mb-2">Create New Post</a>
                        </div>
                    }

                    @if (User.IsInRole(BlogRole.Administrator.ToString()))
                    {
                        <div class="text-center">
                            <a asp-action="Edit" asp-controller="Blogs" asp-route-id="@blog.Id" class="btn btn-dark btn-sm btn-block mb-2">Edit Blog</a>
                        </div>
                    }

                    <div class="card-footer bg-white d-flex align-items-center">
                        <!-- Update below link to go to a list of posts by this Author/BlogUser -->
                        <a href="#">
                            <span class="font-italic text-dark">Authored by</span>&nbsp;
                            @blog.BlogUser.FullName
                        </a>
                        &nbsp;on @blog.Created.ToString("MMM dd, yyyy")
                    </div>
                </div>
            </div>
        }
    </div>
</section>

 @*Add paging controls here*@
 <div class="container">
     <div class="row">
         <div class="col h3">
             Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
         </div>
     </div>
     <div class="row">
         <div class="col">
             @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), 
                new PagedListRenderOptions
                {
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" }
                })
         </div>
     </div>
</div>