@using TheBlogProject.Services
@using TheBlogProject.Models
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@inject IImageService imageService
@model IPagedList<Blog>

@{
    ViewData["Title"] = "Home Page";
}

<section class="miri-ui-kit-section">
    <div class="row grid-margin mx-auto">
        @foreach(var blog in Model)
        {
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="card">
                    <img src="@imageService.DecodeImage(blog.ImageData, blog.ContentType)" class="img-fluid card-img-top" alt="post" />
                    <div class="card-body">
                        <h5>@blog.Name</h5>
                        <p>@blog.Description</p>
                        <a asp-controller="Posts" asp-action="BlogPostIndex" asp-route-id="@blog.Id" class="text-success">Read Blog</a>
                    </div>
                    <div class="card-footer bg-white d-flex align-items-center">
                        Authored by&nbsp;
                        <a href="#">@blog.BlogUser.FullName</a>&nbsp;
                        on @blog.Created.ToString("MMM dd, yyyy")

                        @*<img src="assets/images/face_6.jpg" width="30" class="img-fluid rounded-circle" alt="">
                        <span class="ml-2 small">Leroy Reyes</span>
                        <span class="badge badge-danger ml-auto">NEWS</span>*@
                    </div>
                </div>
            </div>
        }
    </div>
</section>

 @*Add paging controls here*@
 <div class="container">
     <div class="row">
         <div class="col h3">
             Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
         </div>
     </div>
     <div class="row">
         <div class="col">
             @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), 
                new PagedListRenderOptions
                {
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" }
                })
         </div>
     </div>
</div>