@using Microsoft.AspNetCore.Identity
@using TheBlogProject.Services
@using TheBlogProject.Enums
@using TheBlogProject.Models
@using TheBlogProject.ViewModels
@using Newtonsoft.Json

@inject UserManager<BlogUser> _userManager
@inject IImageService _imageService

@*@model TheBlogProject.Models.Post*@
@model PostDetailViewModel

@{
    // Is the logged in user the Author of this post? 
    var isAuthor = false;
    if (User.Identity.IsAuthenticated)
    {
        isAuthor = (Model.Post.BlogUserId == _userManager.GetUserId(User));
    }
}

<!--Post content-->
<article class="mt-4">
    <div class="row">
        <div class="col-12 col-lg-9 border-right">
            @if (Model.Post.Updated is not null)
            {
                <div class="font-italic mb-2 rounded-pill bg-secondary text-white p-2 w-75 w-md-25"><small>This post was last updated on: @Model.Post.Updated.Value.ToString("MMM dd, yyyy")</small></div>
            }
            
            @Html.Raw(Model.Post.Content)
        </div>
        <div class="col-12 col-lg-3 text-center font-weight-bold h6">
            <!-- Sidebar Content -->
            @if (User.IsInRole(BlogRole.Administrator.ToString()))
            {
                <div class="mb-2 text-center">
                    <a asp-action="Create" asp-controller="Posts" asp-route-id="@Model.Post.BlogId" class="btn btn-success btn-block mb-2">Create New Post</a>
                </div>
                <hr />
            }
            <h2 class="text-center m-2 font-weight-bolder">Topics</h2>
            <hr />
            <ul class="text-center text-md-left mb-4 list-unstyled">
                @foreach (var blog in ViewBag.BlogList)
                {
                    <a asp-action="BlogPostIndex" asp-controller="Posts" asp-route-id="@blog.Id" class="blogLink"><li class="rounded-pill p-2 mb-1">@blog.Name</li></a>
                }
            </ul>
            <hr />
            <div class="card">
                <img class="card-img-top" src="/img/tags.png" alt="Tags..." />
                <div class="card-body">
                    @*<h4 class="card-title">SYSTEM TAGS</h4>*@
                    <div class="tagView">
                        @foreach(var tag in Model.Tags)
                        {
                            <a asp-action="TagIndex" asp-controller="Posts" asp-route-tag="@tag" class="mb-1 btn btn-sm btn-danger btn-outline-dark">#@tag</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <article>
        <div class="row">
            <div class="col text-center fw-bold h3">
                Associated Tags
            </div>        
        </div>
        <div class="row">
            <div class="col text-center">
                @foreach(var tag in Model.Post.Tags)
                {
                    <a class="btn btn-danger btn-sm btn-outline-dark" asp-action="TagIndex" asp-controller="Posts" asp-route-tag="@tag.Text">#@tag.Text</a>
                }
            </div>
        </div>
    </article>
    <div class="text-center text-md-left mt-2 mt-md-0">
        @if (User.IsInRole(BlogRole.Administrator.ToString()) || isAuthor)
        {
            <a asp-action="Edit" asp-route-id="@Model.Post.Id" class="btn btn-sm btn-warning text-decoration-none">Edit</a>
            <span>|</span>
        }
         <a asp-action="BlogPostIndex" asp-route-id="@Model.Post.BlogId" class="btn btn-sm btn-dark text-decoration-none">Back to List</a>
    </div>
</article>

<hr />

<div>
    @if(User.Identity.IsAuthenticated)
    {
        <form asp-action="Create" asp-controller="Comments" method="post">
            @Html.Hidden("PostId", Model.Post.Id)
            <div class="form-group">
                <label class="h2 font-weight-bold">Add Comment</label>
                <textarea name="body" class="form-control" rows="7"></textarea>
            </div>
                    
            <button type="submit" class="btn btn-sm btn-block btn-dark">Comment</button>
        </form>
    }
    else
    {
        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-block btn-sm btn-dark">Login to add comments.</a>
    }
</div>

<hr />

<button id="commentSection" class="btn btn-sm btn-dark btn-block">@Model.Post.Comments.Count COMMENT(S)</button>

@{ var counter = 0; }
@foreach(var comment in Model.Post.Comments)
{
    <div class="media border-danger p-3 m-2 bg-light">
        @{
            var profileImage = _imageService.DecodeImage(comment.BlogUser.ImageData, comment.BlogUser.ContentType); 
            if(profileImage is null) profileImage = "/img/defaultUserImage.png"; 
        }
        <img class="mr-3 mt-3 rounded-circle" style="width:60px;" src="@profileImage" />
        <div class="media-body">
            <h4>@comment.BlogUser.FullName</h4>
            <small>
                <i>
                    @if(comment.Moderated is not null)
                    {
                        <span class="small">
                            <span class="font-weight-bolder">
                                Moderated <span class="text-danger font-italic">(@comment.ModerationType.ToString().ToLower())</span>
                            </span>
                            : @comment.Moderated?.ToString("MMM dd, yyyy")
                        </span>
                    }
                    else
                    {
                        <span class="small font-italic">Posted: @comment.Created.ToString("MMM dd, yyyy")</span>
                    }
                </i>
            </small>

            @if (string.IsNullOrEmpty(comment.Body))
            {
                <ins class="text-danger">[null]</ins>
            }
            else if (comment.Moderated is not null)
            {
                <p>@comment.ModeratedBody</p>
            }
            else if (comment.Deleted is null)
            {
                <p>@comment.Body</p>
            }

            @****************************
                RENDER THE EDIT BUTTON
            *****************************@
            @if(comment.Moderated is null && comment.Deleted is null && comment.BlogUserId == _userManager.GetUserId(User))
            {
                <hr />
                <button data-toggle="modal" data-target="@($"#editModal{counter}")" class="btn-sm btn-dark float-right font-weight-bold mb-1 mr-1">EDIT</button>
            }

            @*****************************************
                RENDER THE MODERATE & DELETE BUTTONS
            ******************************************@
            @if(User.IsInRole(BlogRole.Moderator.ToString()) && comment.Deleted is null)
            {
                <hr />
                <div class="row">
                    <div class="col-2">
                        <button class="btn-sm btn-dark font-weight-bold btn-block" data-toggle="modal" data-target="@($"#moderateModal{counter}")">MODERATE</button>
                    </div>
                    <div class="col-2">
                        <form asp-action="Delete" asp-controller="Comments">
                            @Html.Hidden("Id", comment.Id)
                            @Html.Hidden("Slug", comment.Post.Slug)
                            <button type="submit" class="btn-sm btn-dark font-weight-bold btn-block">DELETE</button>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>

    @*Modals*@
    <div id="@($"editModal{counter}")" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!--Modal header-->
                <div class="modal-header">
                    <h4 class="modal-title">Editing Comment...</h4>
                </div>
                <!--Modal body-->
                <div class="modal-body">
                    <form asp-action="Edit" asp-controller="Comments">
                        <!-- this is the primary key of the comment-->
                        @Html.Hidden("Id", comment.Id)

                        <div class="form-group">
                            <textarea name="Body" class="form-control" required>@comment.Body</textarea>
                        </div>

                        <button class="btn-sm btn-dark border-success font-weight-bold" type="submit">SUBMIT</button>
                    </form>
                </div>
                <!--Modal footer-->
                <div class="modal-footer">
                    <button type="button" class="btn-sm btn-dark font-weight-bold" data-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>
    <div id="@($"moderateModal{counter}")" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!--Modal header-->
                <div class="modal-header">
                    <h4 class="modal-title">Moderating Comment...</h4>
                </div>
                <!--Modal body-->
                <div class="modal-body">
                    <form asp-action="Moderate" asp-controller="Comments">
                        <!-- Id is the primary key of the comment-->
                        @Html.Hidden("Id", comment.Id)
                        @Html.Hidden("Body", comment.Body)
                        <div class="form-group">
                            <label class="control-label">Original Comment</label>
                            <textarea disabled class="form-control" style="resize:none">@comment.Body</textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Moderated Comment</label>
                            <textarea required name="ModeratedBody" class="form-control">@comment.ModeratedBody</textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Reason For Moderation</label>
                            <select class="form-control" asp-for="@comment.ModerationType" name="ModerationType" asp-items="Html.GetEnumSelectList<ModerationType>()"></select>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <button class="btn-sm btn-dark btn-block border-success font-weight-bold" type="submit">SUBMIT</button>
                                </div>
                                <div class="col">
                                    <button class="btn-sm btn-dark btn-block font-weight-bold" type="button" data-dismiss="modal">CLOSE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    counter++;
}

