@model TheBlogProject.Models.Post

@{
    ViewData["Title"] = "Details";
    ViewData["HeaderContent"] = @Model.Title;
    ViewData["HeaderSubContent"] = @Model.Abstract;

}


<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @Html.Raw(Model.Content)
            </div>
        </div>
        <hr />

        <article>
            <div class="row">
                <div class="col text-center fw-bold h3">
                    Custom Post Tags
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    @foreach(var tag in Model.Tags)
                    {
                        <a  class="btn btn-warning btn-sm btn-outline-dark" asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()">#@tag.Text</a>
                    }
                </div>
            </div>
        </article>

        
        <!-- Display comments related to this Post -->
        <!-- Display image of the Comment's Author. -->


        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</article>




